.footer{
  background-color: var(--secondary_color);
  display: flex ;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 10%;
  padding: 20px 20px;
  margin-top: 100px;
}

.footer-logo{
  width: 150px;
  margin: 0 10px;
}