

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--secondary_color);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header-container h1 {
  font-size: 2.2rem;
  font-weight: 300;
}

.form-container {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0 40px;
}

.form-container p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.form-container div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-container div p {
  margin: 0 10px;
}

.form-container label {
  margin-right: 15px;
  min-width: 200px;
  text-align: right;
}

.form-item {
  flex-direction: column;
  margin: 0 130px 10px 0;
  gap: 10px;
}

/* .input{
  max-width: 300px;
} */

.error {
  color: var(--error_color);
  font-size: 0.9rem;
}

.input-error {
  box-shadow: unset;
  border-color: var(--error_color);
}

.select-error {
  box-shadow: unset;
  border-color: var(--error_color);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 1px solid var(--secondary_color);
  padding-top: 1rem;
}

.medium {
  width: 200px;
}